/* Extra small devices (portrait phones, less than 576px)
   No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) 
@media only screen and (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) 
@media only screen and  (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) 
@media only screen and (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) 
@media only screen and (min-width: 1200px) { ... }

/* Shall I take these to the Grid, as it appears that these should affect that one the most?*/


body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', sans-serif;
	/*background: rgb(26, 188, 156);
	background: -moz-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: linear-gradient(135deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	*/
}

.container {
	/*width: 100%;
	height: 100%;*/
	display: flex;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.diversBoat {
	/*width: 150px;
	height: 150px;*/
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

.waveContainer {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100vh;
  background: #3586ff;
  overflow: hidden;
}

.singleWave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: '../src/pics/wave.jpg';
  background-size: '1000px, 100px'
}

.waveAnimation {
  animation: 'animate 30s linear infinite';
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

@keyframes animate
{
  0%
  {
    background-position-x: 0,

  }
  100%
  {
    background-position-x: 1000px,
  }
}

